$switch-color-train: darken(yellowgreen, 10%) ;
$switch-color-play: darken(orange, 10%);
$switch-color-handle: #ffffff;
$switch-color-text: #ffffff;

$burger-color: #ff0000;

$menu-color-text: green;
$menu-color-text-active: red;
$menu-color-text-active-shadow: yellow;

$card-color-train: yellowgreen;
$card-color-play: orange;

$main_width: 1400px;