
.card {
  width: 300px;
  height: 280px;
  margin: 20px 25px;
  position: relative;
  overflow: hidden;
  border: 3px solid darken($card-color-train, 10%);
  background: $card-color-train;
  transition: 0.5s;
  transition-property: box-shadow, background-color;
  cursor: pointer;

  img {
    display: block;
    object-fit: cover;
    
  }

  div {
    width: 100%;
    padding: 10px;
    background: white;
    text-align: center;
    font-size: 2rem;
  }
  &:hover {
    box-shadow: 0 0 10px 5px #888888;
  }
}

.mode-play .card {
  background: $card-color-play;
  border: 3px solid darken($card-color-play, 10%);
}

.mode-play .card-word {
  div {
    display: none;
  }  
}

.card-category {
  img {
    $img-size: 180px;
    display: block;
    width: $img-size;
    height: $img-size;
    border-radius: 50%;
    margin: 20px auto;
    border: 10px solid white;
  }
  div {
  position: absolute;
    left: 0;
    bottom: 0;
  }
}
.card-word {
  display: flex;
  flex-direction: column;
  img {
    height: 100%;
  }
}