#show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  z-index: 5;
  img {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }
}