.nav {
  border-right: 3px solid darken($card-color-train, 10%);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 300px;
  height: 100vh;
  // padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: lighten($card-color-train, 20%);
  left: -300px;
  transition: 0.3s;
}

.mode-play .nav {
  background: lighten($card-color-play, 20%);
  border-right: 3px solid darken($card-color-play, 10%);
}
// .nav-active  {
//   left: 0;
// }
.menu-activated .nav  {
  left: 0;
}
.nav ul {
  width: 250px;
  padding: 50px 0;
  overflow-y: auto;

}

.nav__item {
  margin-bottom: 15px;
}

.nav__link {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none; 
  &:hover {
    text-decoration: underline; 
  }
  &:link,
  &:visited {
    color: $menu-color-text;
  }
  &.nav__link-active {
    color: $menu-color-text-active;
    text-shadow: 1px -1px 1px $menu-color-text-active-shadow;
  }
}